html, body { 
	position: relative; 
	background-color: #fff;
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Josefin Slab', serif;
}
/*
#nav{
	position:absolute;
	margin-left: 30px;
}

#currentGeoForm{
	margin-top: 40px;
}
input{
	margin: 10px;
}
img{
	vertical-align:middle
}*/
#closeEntities{
	margin-top: 30px;
	width:95%;
	overflow: scroll;
	height: 260px;

}
#map-canvas {
  width: 100%;
  height: 400px;
}

#place{
	width: 70%;
}
#radius{
	/*width: 20%;*/
}

.inline, .marker{
	display: inline;
	vertical-align:middle;

}

#logo{
	width: 125px;
	height: 87.5px;
	float: right;
}
button{
	background-color:#009DDC;	
	color:white;
}
#geoTitle{
	color:#009DDC;
	display: inline;

}
#geoSmall{
	display: inline;

}